<div id="variable-editor" class="flex-container flexFlowColumn alignItemsCenter height100p overflowYAuto">
  <div class="flex flexFlowColumn alignItemsCenter">
    <h3 class="flex-container alignItemsCenter" style="margin-bottom: 0;">캐릭터 카드 로컬 변수 편집</h3>
    <small>캐릭터 카드에 바인딩된 변수는 카드와 함께 내보내집니다.</small>
  </div>
  <div id="script-button-content" class="script-editor-container">
    <div class="flex-container alignItemsCenter justifyContentCenter marginBot10">
      <h4>변수 목록</h4>
      <div class="menu_button interactable" id="add-variable-trigger">
        <i class="fa-solid fa-plus"></i>
      </div>
    </div>
    <div id="variable-list" class="flex-container flexFlowColumn width100p" style="gap: 20px;"></div>
  </div>
</div>