<div>
    <h3>
        가져올 위치:
    </h3>
    <div class="flex-container flexFlowColumn wide100p padding10 justifyLeft">
        <label for="script-import-target-global">
            <input type="radio" name="script-import-target" id="script-import-target-global" value="global" checked />
            <span>
                전역 스크립트
            </span>
        </label>
        <label for="script-import-target-character">
            <input type="radio" name="script-import-target" id="script-import-target-character" value="character" />
            <span>
                로컬 스크립트
            </span>
        </label>
    </div>
</div>