<div
  class="extension-content-item box-container flexFlowColumn variable-manager-entry-container"
  style="align-items: flex-start"
>
  <div
    class="variable-manager-entry-header flex-container spaceBetween alignItemsCenter width100p"
    style="cursor: pointer"
  >
    <div class="flex flexFlowColumn">
      <div class="settings-title-text">변수 관리자</div>
      <div class="settings-title-description">모든 유형의 변수 관리 및 편집</div>
    </div>
    <div class="TavernHelper-button" id="open-variable-manager">열기</div>
  </div>
</div>